<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <p>This application uses data to pick an animal from an animal shelter, then give you information about the animal.</p>
                    <p></p>

                    <button type="button" class="btn" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Menu</button>
                </div>
            </div>
            <br>
            <footer-generic></footer-generic>
        </div>
        
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

